<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link rel="stylesheet" href="/root.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/details.css" />
  </head>
  <body class="details">
    <%- include("navbar") %>
    <div class="message-details">
      <p>Sent By: <%= message.user %></p>
      <p>Message: <%=message.text %></p>
      <p>Sent At: <%= message.added %></p>
    </div>
  </body>
</html>
