<html>
    <head>
        <title>Details</title>
    </head>
    <body>
        <button>
            <a href="/">Home</a>
        </button>
        <div class="message-details">
            <p>Message Sent By: <%= message.user %></p>
            <p>Message: <%=message.text %></p>
            <p>Sent At: <%= message.added %></p>
        </div>
    </body>
</html>