<html>
    <head>
        <title>New Message</title>
    </head>
    <body>
        <button>
            <a href="/">Home</a>
        </button>
        <p>This is the New Message Page</p>
    </body>
</html>
