<html>
    <head>
        <title>New Message</title>
    </head>
    <body>
        <button>
            <a href="/">Home</a>
        </button>
        <h2>New Message</h2>
        <form method="POST" action="/new">
            <label for="user">Name</label>
            <input type="text" id="user" name="user" required>

            <label for="message">Message</label>
            <input type="text" id="message" name="message" required>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
