<html>
   <head>
      <title>Message Board</title>
      <link rel="stylesheet" href="/index.css" />
   </head>
   <body>
      <button>
         <a href="/new">New</a>
      </button> 
      <ul>  
      <% for (const message of messages) { %>
         <li>
            <div class="message">
               <p>User: <%= message.user %></p>
               <p>Message: <%= message.text %></p>
               <p>Added: <%= message.added %></p>
               <button>
                  <a href="/details/<%= message.id %>">Details</a>
               </button>
            </div>
         </li>
      <% } %>
      </ul>
   </body>
</html>
